ZSH_DISABLE_COMPFIX=true
export PATH=$PATH:/opt/homebrew/bin:/usr/local/bin

alias Doc='cd ~/Documents'
alias ncl='nc localhost'
alias s='clear ; gss 2>/dev/null ;echo -e "Current_Dir: [\033[33m$(pwd)\033[m]" ; ls'
alias naje='make'
alias ear='s'
alias mkae='make'
alias la='ls -la'
alias sd='s ; d'
alias zshrc='vim ~/.zshrc && source ~/.zshrc'
